.container {
  margin-top: 70px;
}

footer .container {
  margin-top: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-top: 2px solid #f5f5f5;
  text-align: center;
}

#header {
  background-image: url(./banneri.jpeg);
  width: 100%;
  height: 401px;
  background-size: cover;
}